body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #7a7fc7;
}

.header-section {
    background-color: #7a7fc7;
    color: white;
}

.container {
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 25px;
}

.contact-info h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.personal-info ul {
    list-style: none;
    padding: 0;
}

.personal-info ul li {
    margin-bottom: 10px;
    padding-left: 20px; 

}

.personal-info ul li i {
    margin-right: 10px; 
    font-size: 20px; 

}


.info-text {
    font-size: 22px;
}

.fa-lg {
    font-size: 30px; 
}


hr {
    border-top: 2px solid #7a7fc7;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.container .education-section {
    padding: 1px;
    margin-top: -50px; 
    margin-left: 20px; 
}

.education-section h2 {
    color: #7a7fc7;
    margin-left: 15px;
}

.education-list {
    list-style: none;
    padding: 0;
    margin-left: 15px;
}

.education-list .icono-educacion {
    margin-left: 10px; 
}


.container .experience-section {
    padding: 1px;
    margin-top: -50px; 
    margin-left: 20px; 
}

.experience-section h2 {
    color: #7a7fc7;
    margin-left: 15px;
}

.experience-list {
    list-style: none;
    padding: 0;
    margin-left: 15px;
}

.container .capacitation-section {
    padding: 1px;
    margin-top: -50px;
    margin-left: 20px; 
}

.capacitation-section h2 {
    color: #7a7fc7;
    margin-left: 15px;
}

.capacitation-list {
    list-style: none;
    padding: 0;
    margin-left: 15px;
}


.container .referencia-section {
    padding: 1px;
    margin-top: -50px; 
    margin-left: 20px; 
}

.referencia-section h2 {
    color: #7a7fc7;
    margin-left: 15px;
}
.referencia-section {
    margin-top: 30px;
}


table {
    width: 94%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}

th, td {
    border: 1px solid #dcdcdc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:hover {
    background-color: #e5f6ff;
    transition: background-color 0.3s ease;
}

